<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        input {
            border: none;
            text-align: center;
        }
    </style>
</head>

<body onload="Getall()">
    编辑用户
    <table id="container">
        <tr>
            <th>编号</th>
            <th>用户名</th>
            <th>密码</th>
            <th>手机号</th>
            <th>QQ号</th>
        </tr>
    </table>
    <script src="js/ajax.js"></script>
</body>

</html>